.main-section {
  height: calc(100vh - (108px));
}


.popup-box {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 3;
  overflow-y: hidden;
}

.popup-closed {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.0);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}


.box {
  position: relative;
  width: 60%;
  height: 100vh;
  margin-left:auto;
}