.main-section {
  height: calc(100vh - 108px);
}

 .main-section > section > img {
  height: calc(100vh - (108px + 48px + 64px))
}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px;
  border-radius: 8px;
  background-color: white;
  min-width: 180px;
}


.dropdown-content > a {
  display: block;
  padding: 8px 18px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn:hover .arrow {
  transform: rotate(180deg);
}
